# Игнорируем конфигурационные файлы IntelliJ IDEA
.idea/

# Игнорируем директории с кэшем и временными файлами
__pycache__/
.cache/

# Игнорируем файлы документации
*.md
README.md

# Игнорируем все файлы с расширением .pyc (собранные Python файлы)
**/*.pyc

# Игнорируем директорию Git
.git

# Игнорируем виртуальную среду Python
venv/
.venv/

# Игнорируем Allure отчёты
allure-results/
allure-reports/